:root {
  --main-background: #000;
  --secondary-background: #C0C0C0;
}

*,*::before,*::after {
  box-sizing: border-box;
}
body {
  background: #0d7173;
  color: #000;
  font-family: "Pixelated MS Sans Serif", Arial;
}
img {
  max-width: 100%;
  height: auto;
}
button,p,span {
  font-size: .85rem;
}
p {
  font-family: 'Times New Roman', Times, serif;
}
/* TASKBAR */
#taskbar {
  background: var(--secondary-background);
  border-top: 1px solid #FFF;
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#start-menu-btn {
  padding: 5px;
}
.task-btn {
  font-size: .85rem;
  padding: 5px 10px;
}
.task-btn img {
  width: 16px;
  margin-right: .5rem;
}

.task-btn.pressed {
  background: #e6e6e6;
  box-shadow: inset -1px -1px #FFF, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px grey;
  /* box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf; */
  text-shadow: 0 0 #222;
}

#taskbar-tray {
  border: 1px solid;
  border-top-color: #808080;
  border-right-color: #FFF;
  border-bottom-color: #FFF;
  border-left-color: #808080;
  padding: 5px;
}
#taskbar-clock {
  font-size: .85rem;
}
#start-menu-wrapper {
  position: absolute;
  top: -375px;
  width: 250px;
  height: 375px;
  background: #C0C0C0;
  padding: 5px;
  border: 2px solid;
  border-top-color: #FFF;
  border-right-color: #808080;
  border-bottom-color: #808080;
  border-left-color: #FFF;
}
#start-menu {
  display: flex;
  height: 100%;
}
#start-menu .title-bar {
  text-orientation: upright;
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #010080;
}
#start-menu .title-bar h6 {
  transform: rotate(-180deg);
  padding: 25px 10px;
  font-size: 1.25rem;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
}
#start-menu .nav-wrap {
  width: 100%;
}
#start-menu .home, #start-menu ul:not(:last-child) {
  border-bottom: 1px solid #FFF;
  position: relative;
}
#start-menu a {
  display: flex;
  align-items: center;
  color: #000;
  text-decoration: none;
  padding: 5px 5px 5px 15px;
}
#start-menu a:hover {
  background: #010080;
  color: #FFF;
}
#start-menu img {
  margin-right: 15px;
  width: 35px;
}

/* DESKTOP */
.icon-wrapper {
    padding: 25px;
}
nav.global li, .window-content.gallery li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFF;
    text-decoration: none;
    width: 90px;
    padding: 5px 0;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}
nav.global li, .window-content.gallery li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
nav.global li img, .window-content.gallery img {
    max-width: 32px;
    margin-bottom: 10px;
}
nav.global li:active,
nav.global li:focus,
.window-content.gallery li span:active,
.window-content.gallery li span:focus {
    outline: none !important;
}
nav.global li:active span,
nav.global li:focus span,
.window-content.gallery li:active span,
.window-content.gallery li:focus span {
    background: #005198;
}

/* WINDOWS */
.window {
    position: absolute;
    top: 100px;
    left: 150px;
    width: 650px;
}
.window.active {
  z-index: 9999;
}
.window .address-bar {
    display: flex;
    align-items: center;
}
.window .address-bar span {
    margin: 5px 0 10px 0;
    padding: 2px;
}
.window .address-bar .address {
    background: #FFF;
    display: block;
    width: 100%;
    border: 1px solid;
    border-top-color: #808080;
    border-right-color: #FFF;
    border-bottom-color: #FFF;
    border-left-color: #808080;
}
.default-window .content {
    background: #FFF;
    border: 1px solid;
    border-top-color: #808080;
    border-right-color: #FFF;
    border-bottom-color: #FFF;
    border-left-color: #808080;
    display: flex;
    width: 100%;
    margin: 0;
}
.content .sidebar {
  width: 200px;
  overflow-y: scroll;
}
.content .sidebar .window-title {
  background-image: url('/public/img/clouds.webp');
  background-size: 300px;
  position: relative;
  z-index: 20;
}
.content .sidebar .window-title::before {
  content: ' ';
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(157deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
  position: absolute;
  top: 0;
  left: 0;
}
.content .sidebar h2 {
  font-size: 1.75rem;
  padding: 15px 15px 0 15px;
  position: relative;
  z-index: 21;
}
.content .sidebar header img {
  display: block;
  margin-bottom: 10px;
}
.content .sidebar .window-title::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  margin: 10px 0 20px 0;
  background: #B0250C;
  background: linear-gradient(90deg, rgba(176, 37, 12, 1) 0%, rgba(176, 37, 12, 1) 25%, rgba(197, 172, 27, 1) 25%, rgba(197, 172, 27, 1) 50%, rgba(81, 164, 52, 1) 50%, rgba(81, 164, 52, 1) 75%, rgba(6, 116, 207, 1) 75%);
  position: relative;
  z-index: 22;
}
.window-content {
  padding: 15px;
  width: calc(100% - 200px);
}
.window-content h2 {
  font-size: 2rem;
  margin-bottom: .5rem;
}
.window-content h3 {
  font-size: 1.5rem;
}
.window-content h6 {
  font-size: .85rem;
}
.window-content p {
  font-size: 1rem;
}
.window-content .gallery {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
}
.window-content .gallery li span{
    width: 90px;
    text-align: center;
    color: #000;
}

/* PROJECT / INNER WINDOW */
.inner-project {
  position: relative;
  width: 100%;
  padding: 15px;
  max-height: 600px;
  overflow-y: scroll;
}
.inner-project header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inner-project .inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.inner-project header img {
  padding-right: 1rem;
}
.inner-project header h2 {
  font-size: 1.25rem;
  margin-bottom: .5rem;
}
.inner-project h6 {
  text-align: center;
  font-size: .9rem;
  margin: 1.5rem 0 5px 0;
}
.inner-project p,
.inner-project .project-section {
  font-size: .9rem;
  line-height: 1.1rem;
  font-family: 'Times New Roman', Times, serif;
}
.inner-project .project-section div:first-child {
  margin-bottom: 1rem;
}
.inner-project .language-list {
  justify-content: center;
}
.inner-project .project-section {
  margin: 2rem 0 1rem 0;
}
.inner-project .project-section h3 {
  font-family: "Pixelated MS Sans Serif", Arial;
  font-size: 1rem;
}
.back {
  display: block;
  width: 50px;
  min-width: 50px;
  padding: 0;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
}

/* CONSOLE */
.console {
  background: #000;
  padding: 1rem 1rem 0 1rem;
  color: rgb(158, 255, 84);
  letter-spacing: 1px;
  max-height: 600px;
  overflow-y: scroll;
}
.console h2 {
  font-size: 1.5rem;
  margin-bottom: .25rem;
}
.console .console-content p,
.console .console-content {
  color: #C0C0C0;
  font-size: 1rem;
  font-family: "Pixelated MS Sans Serif", Arial;
}
.console .console-content p {
  margin-bottom: 1rem;
}
.console header p::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: rgb(158, 255, 84);
  margin: .5rem 0 2rem 0;
}
.console .console-content {
  display: flex;
  margin-bottom: 1rem;
}
.console .console-content .dir-bar {
  width: 25%
}
.console .console-content .text-area {
  width: 75%;
}
.console .console-content .text-area input {
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: rgb(158, 255, 84);
  font-size: 1rem;
}
.console .console-content .text-area ul {
  list-style: none;
  padding-left: 2rem;
  border-left: 2px solid rgb(158, 255, 84);
}
.console .console-content .text-area ul li {
  margin-bottom: 1rem;
}
.console .console-content .text-area span {
  font-size: 1rem;
  color: rgb(158, 255, 84);
}

/* CONTACT FORM */
.window-form-content {
  padding: 15px;
    font-size: 1.5rem;
}
label,
.contact input,
.contact textarea,
.window-form-content p {
  display: block;
  font-size: .90rem;
}
label {
  margin: 1rem 0 .25rem 0;
}
.contact input,
.contact textarea {
    padding: 15px 10px;
    margin-bottom: 1rem;
}
.contact button {
  padding: 5px 10px;
  width: 100%;
}
.contact-flex {
  display: flex;
  justify-content: center;
  width: 100%;
}
.contact-flex div:nth-child(1){
  margin-right: 2rem;
}
.contact-flex div:nth-child(2),
.contact-flex div:nth-child(2) textarea {
  width: 100%;
}

/* GAME / IFRAME */
.game-window,
.game-window iframe {
  width: 960px;
  max-height: 719px;
  padding: 0;
  background: #000;
}

.title-bar-text {
  display: flex;
  align-items: center;
}
.title-bar-text img {
  width: 15px;
  margin-right: 5px;
}
.skill-chart h6 {
  font-size: .9rem;
  margin-bottom: 1.5rem;
  padding: 0 15px;
}
.skill-chart h6 span {
  display: block;
  font-weight: 100;
  margin-top: .25rem;
}
.skill-chart img {
  display: block;
  margin: 1rem auto;
}
.skill-chart .skills li {
  display: flex;
  flex-direction: row;
  color: black;
  font-size: .85rem;
  padding: 0 15px;
  margin-bottom: .5rem;
}
.skill-chart .skills li::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background: black;
  border: 1px solid black;
  margin-right: 5px;
}
.skill-chart .skills li.js::before {
  background: yellow;
}

.skill-chart .skills li.wp::before {
  background: blue;
}
.skill-chart .skills li.html::before {
  background: red;
}
.skill-chart .skills li.css::before {
  background: #1c1c1c;
}
.skill-chart .skills li.php::before {
  background: #00ff00;
}
.skill-chart .skills li.jv::before {
  background: #ff00ff;
}

.sidebar-list {
  padding: 15px 15px 0 15px;
}
.sidebar-list ul {
  list-style-type: none;
  font-size: .90rem;
}
.sidebar-list ul li {
  margin-bottom: .5rem;
  display: block;
  align-items: center;
}
.sidebar-list ul li img {
  margin-right: 5px;
}

/* GALLERY */
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery.list {
  display: block;
}
.gallery .gal-item {
  margin: 40px 0 40px 0;
  display: flex;
}
.gallery .gal-item:first-child {
  margin: 20px 0 40px 0;
}
.gallery .gal-item h4 {
  font-size: 1rem;
}
.gallery .gal-item h5 {
  font-size: .85rem;
}
.gallery .gal-item img {
    width: 100px;
  margin-right: 20px;
  text-align: left;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,.5);
}

.gal-item-content.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* LANGUAGE LIST */
.language-list {
  list-style: none;
  display: flex;
  display: flex;
}
.language-list li {
  margin-right: .5rem;
  font-size: 1.25rem;
}


/* ANIMATIONS */
.crt_animation {
  transform-origin: bottom;
  animation: crt_bounce 1s infinite;
}
.window {
  animation: window_open .2s;
  transform: scaleY(0);
  transform: translate(100px, 100px);
  transform-origin: 0 100%;
}

/* LOADERS */
.window.loader.global {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: none;
}
.loader span {
  animation: loader 1s infinite;
}



/* FONTAWESOME */
.fa-html5 {
  color: #e34c26;
}
.fa-css3-alt {
  color: #214ce5
}
.fa-js-square {
  color: #f0dc4e;
}
.fa-php {
  color: #787cb4;
}
.fa-react {
  color: #00d8ff;
}
.fa-node {
  color: #83cd29;
}
.fa-angular {
  color: #e23237;
}
.fa-vuejs {
  color: #3fb984;
}
.fa-wordpress {
  color: #0f89bf;
}
@keyframes crt_bounce {
  0% {transform: scaleX(1) scaleY(1);}
  50% {transform: scaleX(1.05) scaleY(.9);}
  100% {transform: scaleX(1) scaleY(1);}
}

@keyframes window_open {
  0% {transform: scaleX(0) scaleY(0); transform: translate(100px 100px)}
  100% {transform: scaleX(1) scaleY(1); transform: translate(0 0)}
}
@keyframes loader {
  0% {width: 0}
  100% {width: 100%}
}